<h2>My Schedules</h2>
<% if current_user.patient? %>
<%= link_to 'Create a Schedule', teachers_path  %>
<% end %>
<table>
  <tr>
    <th> # </th>
    <th> Full name </th>
    <th> Scheduling Date </th>
    <th> Action </th>
  </tr>
<% if @schedules.present? %>
  <% @serial = 1 %>
  <% @schedules.each do |schedule| %>
    <tr> <%= render partial: 'index', locals: {schedule: schedule} %> </tr>
    <% @serial += 1  %>
  <% end %>
<% end %>
</table>



